.page {
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

/* .page__header {

} */

.page__grey {
    background-color: #F6F2F2;
}

.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    margin: 0 auto;
    background: #000000;
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    min-height: 90px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.menu__item:hover {
    background-color: #FF3F40;
}

.menu__link {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.page__content {
    flex-grow: 1;
}

.intro {
    padding-top: 102px;
    padding-bottom: 94px;
}

.intro__content {
    position: relative;
    bottom: 12px;
    width: 616px;
    margin-bottom: 20px;
    margin-right: 74px;
}

.intro__heading {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0 0 36px 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.intro__text {
    margin: 0;
    line-height: 28px;
    max-width: 520px;
    margin-bottom: 64px;
}

.action-button {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: inline-block;
    width: 228px;
    height: 56px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

.button-red {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FF2D2D;
}

.intro__image {
    width: 554px;
    height: 360px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

.bloc {
    display: flex;
    max-width: 1250px;
    align-items: center;
    margin: 0 auto;
}

.bloc__title {
    width: 524px;
    height: 87px;
    margin: 0 0 50px 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 44px;
    line-height: 55px;
    display: flex;
    align-items: center;
    letter-spacing: 0.422159px;
    text-transform: uppercase;
    color: #000000;
}

.bloc__text {
    width: 539px;
    height: 98px;
    margin: 0 0 64px 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
}

.bloc-action-button {
    box-sizing: border-box;
    width: 227px;
    height: 55px;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #FF0000;
}

.bloc__red {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.3195px;
    color: #FF2D2D;
}

.bloc-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 108px;
    margin-bottom: 98px;
}

.aside {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    margin: 0 12px 52px 0;
}

.bloc-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 96px;
}

.bloc__thumb {
    width: 38px;
    height: 38px;
    /* background: #DADADA; */
}

.bloc__caption {
    width: 184px;
    height: 24px;
    margin: 29px 0 13px 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 0px;
    display: flex;
    align-items: center;
    letter-spacing: 0.271838px;
    color: #000000;
}

.bloc__heading {
    width: 289px;
    height: 100px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 13px 0;
}

.line {
    width: 1251px;
    height: 5px;
    left: 163px;
    top: 1379px;
    background: #ECECEC;
}